:root {
    --cor-primaria: #05030a;
    --cor-secundaria: #f2f2f2;
    --cor-terciaria: #8259ff;
    --cor-quaternaria: #110b22;
    --cor-quinternaria: #57F29A;
    --cor-hover: #110b22;

    --fonte-primaria: 'Passion One', cursive;
    --fonte-secundaria: 'Bai Jamjuree', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; altura em 100% do viewport */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 8% 15%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__cv {
    padding: 8% 15%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo span {
    font-weight: 600;
}

.apresentacao__conteudo span:hover {
    color: var(--cor-quinternaria);
}

.corSpan {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo {
    font-size: 3.12rem;
    font-family: var(--fonte-primaria);
    font-weight:normal;
}

.tituloDestaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria); /* Primeiro item: espessura da borda ; Segundo item: estilo do tracejado (linha, pontilhado, etc) ; Terceiro item: cor da borda */
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao__curriculo {
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    width: 130%;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao__curriculo:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__navegacao__imagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    height: 100%;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    background-color: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

.rodape b {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

@media (max-width: 1300px) {
    .cabecalho {
        padding: 6%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__cv {
        flex-direction: column;
        padding: 5%;
    }
    
    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: auto;
    }
}